/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px dashed black;
    height: 100px;
    
}

.debug-2 {
    border: 1px dashed rgb(207, 9, 9);
    height: 30px;
    
}

.cs-box{
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    color: darkblue;
    
}

.cs-box.number{
    background-color: lightblue;
}

.cs-box.fizz{
    background-color: gold;
}

.cs-box.buzz{
    background-color: black;
}

.cs-box.fizzbuzz{
    background-color: yellowgreen;
}